<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
const quote = require('./layouts/components/quote.ejs');
const quoteBlack = require('./layouts/components/quote-black.ejs');
const tools = require('./layouts/components/tools.ejs');
const teamProject = require('./layouts/components/team-project.ejs');
const otherProjects = require('./layouts/components/other-projects.ejs');
const otherProjectsOfThisProject = require('./layouts/components/other-projects-of-this-project.ejs');
%>
<%- header() -%>
    <main class="page">
        <div class="intro text-lowercase first-section-from-header">
            <div class="intro__wrapper">
                <div class="intro__bg img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-06/intro-mob.jpg">
                        <img src="images/project-detailed-06/intro.jpg" alt="">
                    </picture>
                </div>
                <div class="container">
                    <div class="intro__row">
                        <div class="intro__head">
                            <h1 class="intro__title title fs-46 fs-24-mob">agronutrition</h1>
                            <p class="intro__subtitle fs-16">собрали новый удобный сайт и обновили логотип для крупного поставщика добавок в корм сельско-хозяйственных животных</p>
                        </div>
                        <div class="intro__tags">
                            <div class="intro__tag">дизайн</div>
                            <div class="intro__tag">дистрибьюция</div>
                            <div class="intro__tag">бюджет</div>
                            <div class="intro__tag">за 1 месяц</div>
                        </div>
                        <div class="intro__btns">
                            <a href="#" class="btn btn--secondary">
                                <span>сайт проекта</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66846C8.08522 1.66846 1.66797 8.08571 1.66797 16.0018C1.66797 23.9179 8.08522 30.3351 16.0013 30.3351C23.9174 30.3351 30.3346 23.9179 30.3346 16.0018C30.3346 8.08571 23.9174 1.66846 16.0013 1.66846Z" fill="white"/>
                                    <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__info">
                <div class="container">
                    <div class="intro__info-row">
                        <div class="intro__info-title ff-second fs-46 fs-24-mob">Провели полный цикл работ по созданию современного и удобного сайта, а также разработали запоминающийся логотип, отражающий ценности и стиль компании.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Клиент</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>Agronutrition — дистрибьютор кормовых добавок, надёжный и стабильный партнёр, который заботится о здоровье животных и успехе предприятий</p>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">задача</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>создать логотип, отражающий ценности бренда</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="numbers text-lowercase pv-100 pv-60-laptop pv-40-mob pt-0-ever _right">
            <div class="container">
                <div class="numbers__row">
                    <div class="numbers__col">
                        <div class="numbers__item text-center">
                            <div class="title fs-100 fs-64-tablet fs-40-mob mb-4 js-counter" data-duration="1250" data-start="0">27</div>
                            <p class="c-gray-450">эскизов было нарисовано от руки</p>
                        </div>
                    </div>
                    <div class="numbers__col">
                        <div class="numbers__item text-center">
                            <div class="title fs-100 fs-64-tablet fs-40-mob mb-4 js-counter" data-duration="1250" data-start="0">1</div>
                            <p class="c-gray-450">час перед дедлайном на финальную доработку</p>
                        </div>
                    </div>
                    <div class="numbers__col">
                        <div class="numbers__item text-center">
                            <div class="title fs-100 fs-64-tablet fs-40-mob mb-4 js-counter" data-duration="1250" data-start="0">7</div>
                            <p class="c-gray-450"> человек  увидели в логотипе «скрытый смысл»</p>
                        </div>
                    </div>
                    <div class="numbers__col">
                        <div class="numbers__item text-center">
                            <div class="title fs-100 fs-64-tablet fs-40-mob mb-4 js-counter" data-duration="1250" data-start="0">10</div>
                            <p class="c-gray-450">лет  заложили в логотип, чтобы он не устарел</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">задача</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>когда мы обновили заказчику сайт, мы поняли, что его логотип сильно выбивается от красивого современного дизайна сайта. он был устаревшим и не передавал ценности бренда.</p>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Создание дизайн-макетов</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>процесс визуального оформления информации, направленный на привлечение внимания и эффективную передачу сообщения. Дизайн-макеты используются в рекламе, полиграфии, веб-дизайне, упаковке и других сферах, где важно сочетание эстетики и функциональности.</p>
                            <p>Процесс начинается с анализа задачи: определение целей, целевой аудитории и ключевых сообщений. На основе этих данных выбирается стиль, цветовая палитра, шрифты и композиция. Важно, чтобы макет был не только визуально привлекательным, но и удобочитаемым, логично структурированным.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-cols text-lowercase">
            <div class="container _mob-full-width">
                <div class=" two-cols__row">
                    <div class="two-cols__head">
                        
                    </div>
                    <div class="two-cols__body">
                        <div class="img-project">
                            <div class="img-project__wrapper">
                                <div class="img-project__item img-wh">
                                    <picture>
                                        <source media="(max-width: 767px)" srcset="images/project-detailed-06/01-mob.png">
                                        <img src="images/project-detailed-06/01.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="img-project">
                            <div class="img-project__wrapper">
                                <div class="img-project__item img-wh">
                                    <picture>
                                        <source media="(max-width: 767px)" srcset="images/project-detailed-06/02-mob.svg">
                                        <img src="images/project-detailed-06/02.svg" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="img-project">
                            <div class="img-project__wrapper">
                                <div class="img-project__item img-wh">
                                    <picture>
                                        <source media="(max-width: 767px)" srcset="images/project-detailed-06/03-mob.png">
                                        <img src="images/project-detailed-06/03.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Создание дизайн-макетов</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>процесс визуального оформления информации, направленный на привлечение внимания и эффективную передачу сообщения. Дизайн-макеты используются в рекламе, полиграфии, веб-дизайне, упаковке и других сферах, где важно сочетание эстетики и функциональности.</p>
                            <p>Процесс начинается с анализа задачи: определение целей, целевой аудитории и ключевых сообщений. На основе этих данных выбирается стиль, цветовая палитра, шрифты и композиция. Важно, чтобы макет был не только визуально привлекательным, но и удобочитаемым, логично структурированным.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-cols text-lowercase">
            <div class="container">
                <div class=" two-cols__row">
                    <div class="two-cols__head">
                        
                    </div>
                    <div class="two-cols__body">
                        <div class="fonts-project fonts-project--col fonts-project--max-780">
                            <div class="fonts-project__row">
                                <div class="fonts-project__col">
                                    <div class="fonts-project__item">
                                        <div class="fonts-project__item-row">
                                            <div class="c-gray-550">старая версия логотипа</div>
                                            <div class="fonts-project__letters">
                                                <img src="images/project-detailed-06/old-logo.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fonts-project__col">
                                    <div class="fonts-project__item">
                                        <div class="fonts-project__item-row">
                                            <div class="c-gray-550">новая версия логотипа</div>
                                            <div class="fonts-project__letters">
                                                <svg width="306" height="131" viewBox="0 0 306 131" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M158.985 95.2642L158.67 90.8168V86.6199V86.4633L158.701 90.7541L158.67 90.8168C157.221 93.6982 153.064 95.734 149.788 95.734C146.418 95.734 143.017 93.5729 143.017 89.5953C143.017 86.7452 145.032 84.1457 148.308 82.9555C151.205 81.922 155.898 81.2956 158.638 81.2956L158.67 83.3H158.638V81.139C158.638 79.7296 158.544 75.3448 152.402 75.3448C147.08 75.3448 146.229 79.1972 145.788 81.1077L143.048 80.5126C143.395 78.3828 145.158 72.8393 152.528 72.8393C158.701 72.8393 161.473 76.6603 161.473 81.828V90.8168C161.473 92.2262 161.473 92.8212 163.363 92.8212L164.843 92.8526V95.2642H158.985ZM145.914 89.658C145.914 91.1926 146.67 93.0405 149.788 93.0405C154.135 93.0405 158.323 89.5327 158.67 86.6199L158.638 83.3C157.001 83.394 151.898 84.3962 149.095 85.4298C146.544 86.3694 145.914 88.2799 145.914 89.658Z" fill="white"/>
                                                    <path d="M186.224 83.5193V95.7027H184.366L184.051 91.2553C182.287 94.3559 179.767 95.7653 175.799 95.7653C168.838 95.7653 164.838 91.3179 164.838 84.3023C164.838 77.3806 169.437 72.8393 175.799 72.8393C181.468 72.8393 185.311 75.752 186.444 80.4813L184.019 81.2956C182.948 77.3493 180.082 75.3448 175.799 75.3448C170.886 75.3448 167.61 79.1345 167.61 84.3023C167.61 90.0025 170.791 93.2597 175.799 93.2597C180.051 93.2597 183.074 90.4409 184.051 85.8996H175.547V83.5193H186.224Z" fill="white"/>
                                                    <path d="M202.621 90.4409C202.621 88.4991 201.865 86.0249 198.055 86.0249H192.417V95.2642H189.582V73.3404H192.417L199.503 73.3717C204.133 73.403 206.873 75.8773 206.873 79.6043C206.873 82.4544 205.298 84.3649 202.653 85.1166C205.047 86.5573 205.299 88.875 205.299 91.5371C205.299 92.4454 205.299 93.0718 207.188 93.1344L208.039 93.1658V95.2642H202.621V90.4409ZM192.417 83.5819H198.999C202.621 83.5819 203.976 82.2039 203.976 79.8236C203.976 77.2867 202.432 75.8146 198.842 75.8146H192.417V83.5819Z" fill="white"/>
                                                    <path d="M220.582 95.7653C213.842 95.7653 209.621 91.3492 209.621 84.3023C209.621 77.2553 213.842 72.8393 220.582 72.8393C227.322 72.8393 231.542 77.2553 231.542 84.3023C231.542 91.3492 227.322 95.7653 220.582 95.7653ZM212.393 84.3023C212.393 89.8146 215.542 93.2597 220.582 93.2597C225.621 93.2597 228.771 89.8146 228.771 84.3023C228.771 78.79 225.621 75.3448 220.582 75.3448C215.542 75.3448 212.393 78.79 212.393 84.3023Z" fill="white"/>
                                                    <path d="M155.111 108.074C161.473 108.074 163.993 112.333 163.993 117.877V130.468H161.221V118.629C161.221 112.741 158.733 110.58 154.89 110.58C149.158 110.58 147.111 115.403 147.079 119.913L146.985 130.499H144.276V108.575H146.67L146.859 113.618H146.954C147.111 112.239 148.812 108.074 155.111 108.074Z" fill="white"/>
                                                    <path d="M176.034 131C169.672 131 167.153 126.741 167.153 121.197V108.606H169.924V120.445C169.924 126.333 172.412 128.494 176.255 128.494C181.987 128.494 184.034 123.671 184.066 119.161L184.16 108.575H186.869V130.499H184.475L184.286 125.456H184.192C184.034 126.834 182.333 131 176.034 131Z" fill="white"/>
                                                    <path d="M207.099 108.575V111.175H199.509V130.499H196.674V111.175H189.084V108.575H207.099Z" fill="white"/>
                                                    <path d="M222.337 125.676C222.337 123.734 221.581 121.26 217.77 121.26H212.132V130.499H209.298V108.575H212.132L219.219 108.606C223.849 108.638 226.589 111.112 226.589 114.839C226.589 117.689 225.014 119.6 222.368 120.351C224.762 121.792 225.014 124.11 225.014 126.772C225.014 127.68 225.014 128.307 226.904 128.369L227.754 128.4V130.499H222.337V125.676ZM212.132 118.817H218.715C222.337 118.817 223.691 117.439 223.691 115.058C223.691 112.521 222.148 111.049 218.557 111.049H212.132V118.817Z" fill="white"/>
                                                    <path d="M229.967 108.575H232.801V130.499H229.967V108.575Z" fill="white"/>
                                                    <path d="M253.02 108.575V111.175H245.43V130.499H242.595V111.175H235.005V108.575H253.02Z" fill="white"/>
                                                    <path d="M255.219 108.575H258.053V130.499H255.219V108.575Z" fill="white"/>
                                                    <path d="M272.162 131C265.422 131 261.202 126.584 261.202 119.537C261.202 112.49 265.422 108.074 272.162 108.074C278.902 108.074 283.123 112.49 283.123 119.537C283.123 126.584 278.902 131 272.162 131ZM263.973 119.537C263.973 125.049 267.123 128.494 272.162 128.494C277.201 128.494 280.351 125.049 280.351 119.537C280.351 114.025 277.201 110.58 272.162 110.58C267.123 110.58 263.973 114.025 263.973 119.537Z" fill="white"/>
                                                    <path d="M297.118 108.074C303.48 108.074 306 112.333 306 117.877V130.468H303.228V118.629C303.228 112.741 300.74 110.58 296.898 110.58C291.166 110.58 289.118 115.403 289.087 119.913L288.992 130.499H286.284V108.575H288.677L288.866 113.618H288.961C289.118 112.239 290.819 108.074 297.118 108.074Z" fill="white"/>
                                                    <path d="M0 13.0499C0 5.84264 5.87545 0 13.1232 0H118.109C125.356 0 131.232 5.84263 131.232 13.0499V73.5076V117.449C131.232 124.656 125.356 130.499 118.109 130.499H13.1232C5.87546 130.499 0 124.656 0 117.449V13.0499Z" fill="#0A0A0A"/>
                                                    <path d="M131.232 73.5076L102.156 93.3067H131.232V73.5076Z" fill="white"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M78.4154 128.148C78.4154 129.446 77.357 130.499 76.0509 130.499H9.45814C4.23457 130.499 0 126.288 0 121.093V47.1765C0 45.6658 1.51509 44.6345 2.77823 45.4739L72.772 91.9818C76.2971 94.3242 78.4154 98.2726 78.4154 102.501V128.148ZM131.232 73.5076C131.232 73.5076 131.232 76.2854 131.232 78.1646V121.093C131.232 126.288 126.997 130.499 121.774 130.499H100.537C99.2315 130.499 98.1727 129.446 98.1727 128.148V102.501C98.1727 98.2726 100.291 94.3242 103.816 91.9818L131.232 73.5076ZM98.6922 1.45126C98.959 0.551895 99.8313 0 100.774 0H121.774C126.997 0 131.232 4.21089 131.232 9.40532V54.6527C131.232 54.6527 130.724 54.7612 129.922 55.1588L116.448 61.8315C108.037 65.9971 98.1727 59.8871 98.1727 50.5123V5.03534C98.1727 3.806 98.3518 2.60046 98.6922 1.45126ZM75.8143 0C76.7572 0 77.6295 0.551933 77.8959 1.45126C78.2367 2.60046 78.4154 3.806 78.4154 5.03534V50.5123C78.4154 59.8871 68.551 65.9971 60.1406 61.8315L1.31042 32.6961C0.507519 32.2985 0 31.4836 0 30.5916V9.40532C0 4.21089 4.23457 0 9.45814 0H75.8143Z" fill="white"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-project two-cols pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="fs-16 c-gray-550 mb-8-mob text-lowercase">итог</h2>
                    </div>
                    <div class="two-cols__body">
                        <div class="result-project__text ff-second fs-46 fs-24-tablet">За 2.5 года <span>построен онлайн-бизнес с нуля.</span> Сформирована <span>команда из 5 разработчиков</span> внутри компании заказчика. А так же создана онлайн часть бизнеса, <span>диверсифицирующая риски компании</span> «Кабель Эксперт».</div>
                    </div>
                </div>
            </div>
        </div>
        <%- quote() -%>
        <%- teamProject() -%>
        <%- tools() -%>
        <%- otherProjectsOfThisProject() -%>
        <%- otherProjects() -%>
    </main> 

<%- footer() -%>