<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
const quote = require('./layouts/components/quote.ejs');
const tools = require('./layouts/components/tools.ejs');
const teamProject = require('./layouts/components/team-project.ejs');
const otherProjects = require('./layouts/components/other-projects.ejs');
const otherProjectsOfThisProject = require('./layouts/components/other-projects-of-this-project.ejs');
%>
<%- header() -%>
    <main class="page">
        <div class="intro text-lowercase first-section-from-header">
            <div class="intro__wrapper">
                <div class="intro__bg img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/intro-mob.jpg">
                        <img src="images/project-detailed-04/intro.jpg" alt="">
                    </picture>
                </div>
                <div class="container">
                    <div class="intro__row">
                        <div class="intro__head">
                            <h1 class="intro__title title fs-46 fs-24-mob">беш арча</h1>
                            <p class="intro__subtitle fs-16">разработали систему для взаимодействия</p>
                        </div>
                        <div class="intro__tags">
                            <div class="intro__tag">разработка</div>
                            <div class="intro__tag">системы</div>
                            <div class="intro__tag">500 тыс - 1 млн ₽</div>
                            <div class="intro__tag">за неделю</div>
                        </div>
                        <div class="intro__btns">
                            <a href="#" class="btn btn--secondary">
                                <span>сайт проекта</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66846C8.08522 1.66846 1.66797 8.08571 1.66797 16.0018C1.66797 23.9179 8.08522 30.3351 16.0013 30.3351C23.9174 30.3351 30.3346 23.9179 30.3346 16.0018C30.3346 8.08571 23.9174 1.66846 16.0013 1.66846Z" fill="white"/>
                                    <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__info">
                <div class="container">
                    <div class="intro__info-row">
                        <div class="intro__info-title ff-second fs-46 fs-24-mob">Личный кабинет улучшил клиентский опыт и&nbsp;оптимизировал бизнес-процессы: клиенты удобно управляют заказами, а&nbsp;компания&nbsp;&mdash; эффективностью.</div>
                        <div class="intro__list">
                            <div>
                                <div class="ff-second fs-64">+35%</div>
                                <span>месячной выручки через сайт</span>
                            </div>
                            <div>
                                <div class="ff-second fs-64">в 1,5</div>
                                <span>раза вырос средний чек</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">заказчик</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>"Беш-Арча" — компания, основанная в Кыргызстане, специализирующаяся на продаже угля в основном для клиентов в Узбекистане и других странах Центральной Азии. Компания зарекомендовала себя как надежный игрок на рынке энергетических ресурсов, предлагая высококачественный уголь, соответствующий международным стандартам.</p>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">задача</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>С увеличением объемов продаж и ростом клиентской базы возникла необходимость в создании удобного инструмента для взаимодействия с клиентами. Так родилась идея разработки личного кабинета клиента (ЛКК), который должен был стать неотъемлемой частью бизнес-процессов компании.</p>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">цель проекта</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>Целью создания ЛКК было не только облегчить процесс оформления сделок, но и предоставить клиентам возможность в реальном времени отслеживать статусы своих заказов и получать подробную статистику по продажам. Это должно было повысить уровень сервиса и укрепить доверие клиентов к компании.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="showreel text-lowercase">
            <div class="container">
                <div class="showreel__wrapper js-video-wrapper">
                    <div class="showreel__item item-response">
                        <img src="images/showreel-laptop.png" alt="">
                        <div class="showreel__video-wrapper item-response">
                            <video loop muted="muted" controls playsinline webkit-playinginline preload="metadata" class="showreel__video js-video _static">
                                <source src="videos/banner.mp4" type='video/mp4' />
                            </video>
                            <button type="button" class="showreel__play item-response js-video-play">
                                <img src="images/showreel-play.svg" alt="">
                            </button>
                            <div class="showreel__preview">
                                <picture>
                                    <source media="(max-width: 767px)" srcset="images/project-detailed-04/01-mob.jpg">
                                    <img src="images/project-detailed-04/01.jpg" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="numbers text-lowercase pv-100 pv-60-laptop pv-40-mob pt-0-ever _right">
            <div class="container">
                <div class="numbers__row">
                    <div class="numbers__col">
                        <div class="numbers__item text-center">
                            <div class="title fs-100 fs-64-tablet fs-40-mob mb-4 js-counter" data-duration="1250" data-start="0">147</div>
                            <p class="c-gray-450">Выпитых кружек кофе</p>
                        </div>
                    </div>
                    <div class="numbers__col">
                        <div class="numbers__item text-center">
                            <div class="title fs-100 fs-64-tablet fs-40-mob mb-4 js-counter" data-duration="1250" data-start="0">312,809</div>
                            <p class="c-gray-450">Нажатых клавиш разработчиком</p>
                        </div>
                    </div>
                    <div class="numbers__col">
                        <div class="numbers__item text-center">
                            <div class="title fs-100 fs-64-tablet fs-40-mob mb-4 js-counter" data-duration="1250" data-start="0">11</div>
                            <p class="c-gray-450">Походов к психологу</p>
                        </div>
                    </div>
                    <div class="numbers__col">
                        <div class="numbers__item text-center">
                            <div class="title fs-100 fs-64-tablet fs-40-mob mb-4 js-counter" data-duration="1250" data-start="0">104</div>
                            <p class="c-gray-450">Часов в Zoom</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Наш подход</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>Мы создавали целостную систему, учитывающую все аспекты бизнеса "Беш-Арча". Наша стратегия была основана на глубоком понимании потребностей как компании, так и её клиентов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-project">
            <div class="img-project__wrapper">
                <div class="img-project__item img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/02-mob.png">
                        <img src="images/project-detailed-04/02.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Бизнес-анализ</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>Первым шагом в разработке стал детальный бизнес-анализ. Команда проекта провела несколько встреч с ключевыми участниками, чтобы выявить их потребности и ожидания. В результате были определены следующие основные требования:</p>
                            <ul>
                                <li>Регистрация и авторизация пользователей.</li>
                                <li>Оформление заказа на уголь с возможностью выбора объема.</li>
                                <li>Просмотр статусов заказов в реальном времени.</li>
                                <li>Генерация отчетов о продажах и аналитики по закупкам.</li>
                                <li>Обратная связь и поддержка через интегрированный чат.</li>
                                <li>Документооборот.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Проектирование пользовательского потока</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>Мы разработали четкий сценарий взаимодействия пользователя с системой. Это помогло нам продумать логику навигации, расположение функций и обеспечить интуитивно понятную работу с ЛКК. Продумали путь клиента от входа в систему до завершения сделки.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-project">
            <div class="img-project__wrapper">
                <div class="img-project__item img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/03-mob.svg">
                        <source media="(max-width: 1023px)" srcset="images/project-detailed-04/03-tablet.svg">
                        <source media="(max-width: 1439px)" srcset="images/project-detailed-04/03-laptop.svg">
                        <img src="images/project-detailed-04/03.svg" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Проектирование пользовательского интерфейса&nbsp;(ui)</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>После определения User Flow дизайнеры начали проектировать интерфейс личного кабинета. Основное внимание уделялось созданию трех ключевых интерфейсов: кабинета клиента, кабинета менеджера и кабинета администратора.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="two-cols__row _above-tablet">
                    <div class="two-cols__head">
                        
                    </div>
                    <div class="two-cols__body">
                        <div class="colors-project mb-40 mb-20-tablet">
                            <div class="colors-project__row">
                                <div class="colors-project__col">
                                    <div class="colors-project__item">
                                        <div class="colors-project__rect item-response" style="background-color: #0055A9;"></div>
                                        <div class="mb-4">Primary</div>
                                        <div class="fs-14 c-gray-550">0055A9</div>
                                    </div>
                                </div>
                                <div class="colors-project__col">
                                    <div class="colors-project__item">
                                        <div class="colors-project__rect item-response" style="background-color: #FFFFFF;"></div>
                                        <div class="mb-4">neutral</div>
                                        <div class="fs-14 c-gray-550">FFFFFF</div>
                                    </div>
                                </div>
                                <div class="colors-project__col">
                                    <div class="colors-project__item">
                                        <div class="colors-project__rect item-response" style="background-color: #000000;"></div>
                                        <div class="mb-4">neutral</div>
                                        <div class="fs-14 c-gray-550">000000</div>
                                    </div>
                                </div>
                                <div class="colors-project__col">
                                    <div class="colors-project__item">
                                        <div class="colors-project__rect item-response" style="background-color: #199040 ;"></div>
                                        <div class="mb-4">success</div>
                                        <div class="fs-14 c-gray-550">199040 </div>
                                    </div>
                                </div>
                                <div class="colors-project__col">
                                    <div class="colors-project__item">
                                        <div class="colors-project__rect item-response" style="background-color: #A9001C;"></div>
                                        <div class="mb-4">danger</div>
                                        <div class="fs-14 c-gray-550">A9001C</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two-cols__row">
                    <div class="two-cols__head">
                        
                    </div>
                    <div class="two-cols__body">
                        <div class="fonts-project">
                            <div class="fonts-project__row">
                                <div class="fonts-project__col">
                                    <div class="fonts-project__item">
                                        <div class="fonts-project__item-row">
                                            <div>Manrope</div>
                                            <div class="fonts-project__letters">
                                                <svg width="226" height="147" viewBox="0 0 226 147" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 144L48.2851 0H73.1289L121.414 144H102.881L57.7017 10.4H63.3116L18.5327 144H0ZM23.241 110.3V93.6H98.1731V110.3H23.241Z" fill="white"/>
                                                    <path d="M170.101 147C162.021 147 155.242 145.533 149.766 142.6C144.356 139.6 140.249 135.667 137.444 130.8C134.706 125.933 133.337 120.6 133.337 114.8C133.337 109.133 134.405 104.233 136.542 100.1C138.746 95.9 141.818 92.4333 145.759 89.7C149.699 86.9 154.407 84.7 159.883 83.1C165.026 81.7 170.769 80.5 177.114 79.5C183.525 78.4333 190.003 77.4667 196.548 76.6C203.093 75.7333 209.204 74.9 214.88 74.1L208.469 77.8C208.669 68.2 206.733 61.1 202.659 56.5C198.652 51.9 191.706 49.6 181.822 49.6C175.277 49.6 169.534 51.1 164.592 54.1C159.716 57.0333 156.277 61.8333 154.274 68.5L137.344 63.4C139.948 53.9333 144.991 46.5 152.47 41.1C159.95 35.7 169.801 33 182.022 33C191.84 33 200.255 34.7667 207.267 38.3C214.346 41.7667 219.422 47.0333 222.494 54.1C224.03 57.4333 224.998 61.0667 225.399 65C225.8 68.8667 226 72.9333 226 77.2V144H210.172V118.1L213.879 120.5C209.805 129.233 204.095 135.833 196.748 140.3C189.469 144.767 180.587 147 170.101 147ZM172.806 132.1C179.218 132.1 184.761 130.967 189.436 128.7C194.177 126.367 197.984 123.333 200.856 119.6C203.727 115.8 205.597 111.667 206.466 107.2C207.467 103.867 208.002 100.167 208.068 96.1C208.202 91.9667 208.269 88.8 208.269 86.6L214.48 89.3C208.669 90.1 202.959 90.8667 197.349 91.6C191.74 92.3333 186.43 93.1333 181.421 94C176.413 94.8 171.905 95.7667 167.898 96.9C164.959 97.8333 162.187 99.0333 159.583 100.5C157.045 101.967 154.975 103.867 153.372 106.2C151.836 108.467 151.068 111.3 151.068 114.7C151.068 117.633 151.803 120.433 153.272 123.1C154.808 125.767 157.145 127.933 160.284 129.6C163.49 131.267 167.664 132.1 172.806 132.1Z" fill="white"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fonts-project__col">
                                    <div class="fonts-project__item">
                                        <div class="fonts-project__item-row">
                                            <div>roboto mono</div>
                                            <div class="fonts-project__letters">
                                                <svg width="222" height="144" viewBox="0 0 222 144" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M78.8247 109.366H34.1313L24.4493 142.049H0L46.3559 0H67.1868L112.76 142.049H88.4088L78.8247 109.366ZM40.0969 89.2683H73.0546L56.7225 33.0732L40.0969 89.2683Z" fill="white"/>
                                                    <path d="M198.137 142.049C197.42 140.748 196.833 139.187 196.377 137.366C195.986 135.48 195.627 133.528 195.301 131.512C193.671 133.203 191.813 134.829 189.727 136.39C187.706 137.886 185.424 139.187 182.881 140.293C180.338 141.463 177.6 142.374 174.666 143.024C171.732 143.675 168.57 144 165.18 144C159.703 144 154.683 143.22 150.119 141.659C145.62 140.033 141.774 137.821 138.579 135.024C135.319 132.293 132.776 129.008 130.951 125.171C129.19 121.268 128.31 117.073 128.31 112.585C128.31 106.797 129.451 101.691 131.733 97.2683C134.08 92.7805 137.47 89.0732 141.904 86.1463C146.011 83.4146 151.064 81.3333 157.063 79.9024C163.126 78.4715 169.972 77.7561 177.6 77.7561H194.617V70.6341C194.617 67.9024 194.128 65.4309 193.15 63.2195C192.237 61.0081 190.9 59.0894 189.14 57.4634C187.249 55.8374 184.935 54.6016 182.196 53.7561C179.523 52.8455 176.426 52.3902 172.906 52.3902C169.711 52.3902 166.907 52.7805 164.495 53.561C162.148 54.3415 160.192 55.4146 158.627 56.7805C157.063 58.0163 155.889 59.5447 155.107 61.3659C154.389 63.122 154.031 65.0081 154.031 67.0244H130.559C130.625 62.7967 131.635 58.7317 133.591 54.8293C135.547 50.9268 138.416 47.4797 142.197 44.4878C145.848 41.4309 150.347 39.0244 155.693 37.2683C161.105 35.4472 167.266 34.5366 174.177 34.5366C180.371 34.5366 186.141 35.3171 191.487 36.878C196.899 38.374 201.56 40.6179 205.472 43.6098C209.384 46.6016 212.448 50.4065 214.665 55.0244C216.882 59.5772 217.99 64.8455 217.99 70.8293V117.756C217.99 122.504 218.316 126.797 218.968 130.634C219.685 134.407 220.696 137.659 222 140.39V142.049H198.137ZM169.678 125.268C172.743 125.268 175.579 124.878 178.187 124.098C180.86 123.317 183.272 122.309 185.424 121.073C187.575 119.837 189.433 118.439 190.998 116.878C192.563 115.317 193.769 113.691 194.617 112V92.4878H179.556C174.47 92.4878 170.07 92.9756 166.353 93.9512C162.637 94.8618 159.67 96.1951 157.454 97.9512C155.498 99.4472 154.031 101.236 153.053 103.317C152.14 105.398 151.684 107.74 151.684 110.341C151.684 112.488 152.075 114.504 152.857 116.39C153.64 118.211 154.781 119.772 156.28 121.073C157.78 122.374 159.638 123.415 161.855 124.195C164.071 124.911 166.679 125.268 169.678 125.268Z" fill="white"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Кабинет клиента</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <ul>
                                <li>Документы: Контракт, спецификации, дополнительные соглашения, счета на оплату.</li>
                                <li>Отгрузки: Таблица со всеми отгрузками (станция, дата, объем, фракция, вагоны, сумма), доступ к отгрузочным и закрывающим документам (просмотр и скачивание).</li>
                                <li>Финансы: Акт сверки (поступления и отгрузки), где перечисляются все поступления денежных средств от клиента и все отгрузки.</li>
                                <li>Связь: Кнопка связи с менеджером.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-project">
            <div class="img-project__wrapper">
                <div class="img-project__item img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/04-mob.png">
                        <img src="images/project-detailed-04/04.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Кабинет администратора</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <ul>
                                <li>Создание юридического лица (которое продает уголь внутри холдинга).</li>
                                <li>Возможность редактировать информацию о юридическом лице (которое продает уголь внутри холдинга).</li>
                                <li>Возможность редактировать товары.</li>
                                <li>Добавление сотрудника.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Кабинет менеджера</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>У менеджера функционал тот же, что и у администратора, но с нюансами: Нет доступа к добавлению сотрудников и их просмотру и На дашбордах отображаются только закрепленные за ним компании/клиенты.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-project">
            <div class="img-project__wrapper">
                <div class="img-project__item img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/05-mob.png">
                        <img src="images/project-detailed-04/05.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <%- quote() -%>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Разработка архитектуры приложения</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>Утвердив дизайн, команда разработала техническое задание (ТЗ), описывающее архитектуру приложения и выбранные технологии. Это обеспечивало масштабируемость системы и возможность интеграции с существующими решениями компании. Была определена структура базы данных, а также способы взаимодействия между фронтендом и бэкендом.</p>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Программирование функционала</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>С началом программирования разработчики использовали современные технологии, такие как React для фронтенда и Node.js для бэкенда. Каждая функция разрабатывалась с учетом требований безопасности и производительности. Команда внедрила систему аутентификации пользователей, что обеспечивало защиту личных данных клиентов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-project">
            <div class="img-project__wrapper">
                <div class="img-project__item img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/06-mob.png">
                        <source media="(max-width: 1023px)" srcset="images/project-detailed-04/06-tablet.png">
                        <source media="(max-width: 1439px)" srcset="images/project-detailed-04/06-laptop.png">
                        <img src="images/project-detailed-04/06.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Создание админского блока</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>Для управления системой был создан админский блок, который позволял сотрудникам компании отслеживать заказы, управлять клиентами и получать отчеты о продажах. Это давало возможность оперативно реагировать на запросы клиентов и обеспечивало высокий уровень контроля за процессами.</p>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Тестирование</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>После завершения разработки ЛКК команда провела многоуровневое тестирование: функциональное, интеграционное и нагрузочное. Тестировщики проверяли все сценарии использования системы, выявляя ошибки и недочеты до запуска. Пользовательское тестирование также дало возможность получить обратную связь от клиентов и внести необходимые изменения.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-project img-project--1920">
            <div class="img-project__wrapper">
                <div class="img-project__item img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/07-mob.jpg">
                        <img src="images/project-detailed-04/07.jpg" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Запуск и поддержка</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>Личный кабинет клиента был успешно запущен в эксплуатацию. Команда организовала обучение для сотрудников "Беш-Арча" и предоставила клиентам инструкции по использованию нового инструмента. Также была налажена система поддержки, чтобы оперативно решать возникающие вопросы пользователей.</p>
                        </div>
                    </div>
                </div>
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Анализ и оптимизация</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <p>После запуска ЛКК команда продолжила мониторинг использования системы и собирала обратную связь от пользователей. На основе полученных данных были выявлены возможности для улучшения функционала и интерфейса. Регулярные обновления позволили адаптироваться к меняющимся потребностям клиентов и повышать уровень сервиса.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-project">
            <div class="img-project__wrapper">
                <div class="img-project__item img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/08-mob.png">
                        <img src="images/project-detailed-04/08.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Конечные результаты</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <ul>
                                <li>Автоматизация процессов оформления заказов.</li>
                                <li>Повышение эффективности работы менеджеров.</li>
                                <li>Увеличение прозрачности и контроля над сделками.</li>
                                <li>Снижение рисков ошибок.</li>
                                <li>Улучшение уровня сервиса для клиентов.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-project">
            <div class="img-project__wrapper">
                <div class="img-project__item img-wh">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/project-detailed-04/09-mob.png">
                        <img src="images/project-detailed-04/09.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="result-project two-cols pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="fs-16 mb-8-mob text-lowercase">итог</h2>
                    </div>
                    <div class="two-cols__body">
                        <div class="result-project__text ff-second fs-46 fs-24-tablet">Разработка личного кабинета клиента для компании &laquo;Беш-Арча&raquo; <span>значительно улучшила клиентский опыт и&nbsp;оптимизировала бизнес-процессы.</span> Теперь клиенты могут легко управлять своими заказами, а&nbsp;компания&nbsp;&mdash; повышать эффективность своих процессов.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage-project two-cols text-lowercase pv-100 pv-60-laptop pv-40-mob">
            <div class="container">
                <div class="stage-project__row two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="c-gray-550 mb-16-mob">Запланированные работы по проекту на 2025 год</h2>
                    </div>
                    <div class="stage-project__body two-cols__body">
                        <div class="stage-project__text">
                            <ul>
                                <li>Автоматизация бизнес-процессов документооборота.</li>
                                <li>Автоматическая генерация шаблонов документов к контрактам.</li>
                                <li>Интеграция с учетными системами «Беш-Арча» (Кыргызстан, Узбекистан, ОАЭ).</li>
                                <li>Объединение всех клиентских баз в единую.</li>
                                <li>Единый клиентский кабинет для холдинга «АБ Энерго».</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- quote() -%>
        <%- teamProject() -%>
        <%- tools() -%>
        <%- otherProjectsOfThisProject() -%>
        <%- otherProjects() -%>
    </main> 

<%- footer() -%>